<div class="container"> 
  <h1>See what other people are posting about</h1>
  <% @posts.each do |post| %>
  
	  <p><%= post.title %></p>
	  <p><%= post.body %></p>
	  <p>Author: <%= post.author %>,
	  	<%post.tags.each do |tag| %>
	    Tags: <%= tag.name %>
	    <% end %> <a href='/edit post/<%=post.id%>'>Edit</a> <a href="/delete post/#{post.id}">Delete</a>
	  </p>
	 <% end %>
  
  <a href='/'>Return to home page</a>


</div>